In [23]:
import pandas as pd
import pathlib, os
from jack.tooling import io as io_tool
import warnings
warnings.filterwarnings('ignore')

In [3]:
data_dir = pathlib.Path.home() / "Dataset"
filename = "train_df"

In [7]:
rename_columns = {"Title": "text", "Code": "label"}

In [11]:
df = next(io_tool.load(data_dir, filename, ext=".csv", rename_columns=rename_columns))

In [12]:
df.head()

                                                text       label
0  senior program analyst navy strike fighter sen...  15-1121.00
1                senior intelligence analyst iii job  33-3021.06
2              retail wireless sales consultant part  41-2031.00
3  test automation engineer w selenium and gerkin...  15-1121.00
4  public sector portfolio management senior asso...  11-1021.00

> In `explore.ipynb` we have already replaced `label` code with textual description. Let's reuse it to here again. For simplicity copy/paste the result

In [13]:
mapping = {
    '11-1021.00': 'General and Operations Managers',
    '11-2021.00': 'Marketing Managers',
    '11-2022.00': 'Sales Managers',
    '11-3031.02': 'Financial Managers, Branch or Department',
    '13-1111.00': 'Management Analysts',
    '13-2051.00': 'Financial Analysts',
    '15-1121.00': 'Computer Systems Analysts',
    '15-1122.00': 'Information Security Analysts',
    '15-1132.00': 'Software Developers, Applications',
    '15-1133.00': 'Software Developers, Systems Software',
    '15-1134.00': 'Web Developers',
    '15-1142.00': 'Network and Computer Systems Administrators',
    '15-1151.00': 'Computer User Support Specialists',
    '29-1141.00': 'Registered Nurses',
    '31-1014.00': 'Nursing Assistants',
    '33-3021.06': 'Intelligence Analysts',
    '41-2031.00': 'Retail Salespersons',
    '43-4051.00': 'Customer Service Representatives',
    '49-3023.02': 'Automotive Specialty Technicians',
    '49-9071.00': 'Maintenance and Repair Workers, General',
    '53-3032.00': 'Heavy and Tractor-Trailer Truck Drivers'
 }

In [15]:
df = df.replace({"label": dict(mapping)})

In [16]:
df.head()

,text,label
0,senior program analyst navy strike fighter sen...,Computer Systems Analysts
1,senior intelligence analyst iii job,Intelligence Analysts
2,retail wireless sales consultant part,Retail Salespersons
3,test automation engineer w selenium and gerkin...,Computer Systems Analysts
4,public sector portfolio management senior asso...,General and Operations Managers

> Let's now "put" (aka `index`) the data in running docker container. Make sure you ran `make start` in the root directory before continue!

In [21]:
from jack.storing import elastic

In [24]:
store = elastic.ElasticDocStore()

In [26]:
from jack.storing import doc

In [27]:
dataset = [doc.Document.from_dict(d) for d in df.to_dict(orient="records")]

> Step below might take some time performing inverse mapping on documents

In [28]:
store.write_documents(dataset)

In [29]:
store.describe()

{'count': 12098,
 'chars_mean': 33.69127128450984,
 'chars_max': 209,
 'chars_min': 4,
 'chars_median': 31.0}